.address-block {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  margin: 0 0 10px;

  &__phone {
    padding: 3px 0 0;
  }

  &__time {
    padding: 10px 0;
  }

  &__ico-wrap {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 37px;
  }

  &__ico {
    display: block;
    margin: 0 auto;
    transition: .2s;
  }

  &__text {
    display: block;
    color: $c-text;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    padding: 2px 0;
  }
}