.address-phone-link {
  display: block;
  text-decoration: none;
  color: $c-text;
  white-space: nowrap;

  &_header {
    font-size: 20px;
    line-height: 24px;
    padding: 3px 0;
  }

  &_footer {
    font-size: 14px;
    line-height: 17px;
    padding: 2px 0;
  }
}