.form {
  width: 483px;
  padding: 10px 23px;

  &__row {
    padding: 5px 0;
  }

  &__input {
    display: block;
    height: 37px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid $c-border-form;
    padding: 0 12px;
    color: $c-text;
    background: #fff;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $c-plac;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $c-plac;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $c-plac;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $c-plac;
    }
  }

  &__button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
}