.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: #fff;

  @media (max-width: 767px) {
    height: auto;
  }

  &__hold {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 22px;

    @media (max-width: 767px) {
      padding: 15px 0 15px 15px;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__block {
    flex-shrink: 0;

    &_left {
      @media (max-width: 767px) {
        position: absolute;
        left: 15px;
        top: 15px;
      }
    }

    &_right {
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        display: block;
      }
    }
  }

  &__button {
    flex-shrink: 0;
    margin: 0 15px 0 0;
    float: right;

    @media (max-width: 767px) {
      width: 100%;
      padding: 16px 15px 0 0;
      margin: 0;

      & button {
        width: 100%;
      }
    }
  }

  &__address {
    float: right;

    @media (max-width: 767px) {
      padding: 0 15px 0 0;
    }

    @media (max-width: 359px) {
      padding: 0 3px 0 0;
    }
  }

  &__link {
    display: block;
    float: left;
  }
}