.main {
  background: url(../images/bg-section.png) no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: bottom;

  @media (max-width: 767px) {
    background: none;
  }
}