@font-face {
  font-family: "lucida regular";
  src: url("../fonts/lsansuni.woff2") format("woff2"), url("../fonts/lsansuni.woff") format("woff"); }

/*fonts*/
/*color*/
body, html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 100%; }

body {
  font-family: "lucida regular", sans-serif;
  color: #545454; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }

.button {
  display: block;
  min-width: 141px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 14px;
  font-family: "lucida regular", sans-serif;
  line-height: 17px;
  padding: 8px 14px;
  -webkit-transition: .15s;
  -o-transition: .15s;
  transition: .15s;
  border-width: 2px;
  border-style: solid;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap; }
  @media (max-width: 767px) {
    .button {
      min-width: 130px; } }
  @media (hover: hover) {
    .button:hover {
      outline: none;
      cursor: pointer;
      text-decoration: none; } }
  .button:hover, .button:focus, .button:active {
    text-decoration: none; }
  .button_red {
    border-color: #e30613;
    background: #e30613;
    color: #fff; }
    @media (hover: hover) {
      .button_red:hover {
        background: #B7000B;
        border-color: #B7000B; } }
    .button_red:focus, .button_red:active {
      background: #B7000B;
      border-color: #B7000B; }
  .button_white {
    border-color: #e30613;
    color: #e30613;
    background: #fff;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s; }
    @media (hover: hover) {
      .button_white:hover {
        background: #B7000B;
        border-color: #B7000B;
        color: #fff; } }
    .button_white:focus, .button_white:active {
      background: #B7000B;
      border-color: #B7000B;
      color: #fff; }
  @media (max-width: 374px) {
    .button_registration {
      margin: 0 0 15px; } }
  .button_transparent {
    min-width: 55px;
    height: 32px;
    background: transparent;
    border-color: #e30613;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    color: #e30613;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
    padding: 0 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (hover: hover) {
      .button_transparent:hover {
        background: #B7000B;
        border-color: #B7000B;
        color: #fff; }
        .button_transparent:hover svg path {
          fill: #fff; } }
    .button_transparent svg {
      display: block; }
      .button_transparent svg path {
        -webkit-transition: .15s;
        -o-transition: .15s;
        transition: .15s; }

.button-link {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 17px;
  font-family: "lucida regular", sans-serif;
  border: 0;
  border-bottom: 1px dashed currentColor;
  background: transparent;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: #e30613;
  padding: 0 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none; }
  @media (hover: hover) {
    .button-link:hover {
      cursor: pointer;
      border-color: transparent;
      text-decoration: none; } }
  .button-link:focus, .button-link:active {
    border-bottom: 1px dashed currentColor;
    text-decoration: none; }

.message-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .message-list__item {
    border-bottom: 1px solid #F2F2F2; }

.message-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #fff;
  height: 45px;
  padding: 0 30px 0; }
  @media (hover: hover) {
    .message-block:hover {
      cursor: pointer; } }
  .message-block__ico-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30px; }
  .message-block__ico {
    display: block;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s; }
    .message-block__ico path {
      fill: #e30613; }
    .message-block__ico_active {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }

.message-block-title {
  font-size: 13px;
  line-height: 19px;
  color: #545454;
  font-family: "lucida regular", sans-serif;
  font-weight: bold; }

.message-block-notification {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .message-block-notification__num {
    display: block;
    width: 27px;
    height: 20px;
    background: #e30613;
    color: #fff;
    font-family: "lucida regular", sans-serif;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    -webkit-border-radius: 10px 0 0 10px;
            border-radius: 10px 0 0 10px;
    padding: 0 0 0 3px; }

.article-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .article-list__item {
    border-top: 1px solid #F2F2F2; }
    .article-list__item_unread {
      background: #FEF7F8; }

.article-card {
  position: relative;
  padding: 7px 0 7px 30px; }
  @media (hover: hover) {
    .article-card:hover {
      cursor: pointer; } }
  .article-card__indicator-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 13px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30px; }
  .article-card__indicator {
    display: block;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #ABABAB; }
    .article-card__indicator_unread {
      background: #e30613; }

.article-card-data {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  line-height: 17px;
  font-family: "lucida regular", sans-serif;
  color: #ababab; }

.article-card-descr {
  font-size: 13px;
  line-height: 20px;
  font-family: "lucida regular", sans-serif;
  color: #545454; }

.message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .message__sidebar {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: 230px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12);
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12); }
  .message__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 30px; }

.sidebar {
  height: -webkit-calc(100vh - 40px);
  height: calc(100vh - 40px);
  overflow-y: auto;
  padding: 0 0 60px; }

.page {
  width: 100%;
  background: #F5F6F8;
  padding: 40px 30px 15px;
  font-weight: normal; }

.page-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-calc(100vh - 117px);
  height: calc(100vh - 117px);
  overflow: hidden; }
  .page-grid__lever {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none;
    -ms-touch-action: none;
        touch-action: none; }
    @media (hover: hover) {
      .page-grid__lever:hover_horizontal {
        cursor: col-resize; }
      .page-grid__lever:hover_vertical {
        cursor: row-resize; }
      .page-grid__lever:hover:after {
        cursor: pointer; } }
    .page-grid__lever_vertical {
      width: 15px; }
      @media (hover: hover) {
        .page-grid__lever_vertical:hover {
          cursor: col-resize; } }
    .page-grid__lever_horizontal {
      height: 15px;
      width: 100%; }
      @media (hover: hover) {
        .page-grid__lever_horizontal:hover {
          cursor: row-resize; } }
  .page-grid__left {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: 320px;
    min-width: 290px;
    max-width: 50%;
    height: 100%;
    overflow: hidden; }
  .page-grid__left-top {
    height: 60%;
    min-height: 10%;
    max-height: 90%; }
  .page-grid__left-bottom {
    height: -webkit-calc(40% - 15px);
    height: calc(40% - 15px);
    min-height: -webkit-calc(10% - 15px);
    min-height: calc(10% - 15px);
    max-height: -webkit-calc(90% - 15px);
    max-height: calc(90% - 15px);
    overflow: hidden; }
  .page-grid__right {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%; }
  .page-grid__right-top {
    height: -webkit-calc(100% - 276px);
    height: calc(100% - 276px);
    min-height: 10%;
    max-height: 90%; }
  .page-grid__right-bottom {
    height: 261px;
    min-height: 261px;
    max-height: -webkit-calc(90% - 15px);
    max-height: calc(90% - 15px);
    overflow: hidden; }
  .page-grid__row-hidden {
    height: 0 !important;
    min-height: 0 !important;
    max-height: 0 !important;
    border: 0; }
  .page-grid__row-full {
    height: -webkit-calc(100% - 15px) !important;
    height: calc(100% - 15px) !important;
    max-height: -webkit-calc(100% - 15px) !important;
    max-height: calc(100% - 15px) !important; }
  .page-grid__cell-hidden {
    width: 0 !important;
    min-width: 0 !important;
    max-width: 0 !important;
    border: 0; }
  .page-grid__cell-full {
    width: -webkit-calc(100% - 15px) !important;
    width: calc(100% - 15px) !important;
    max-width: -webkit-calc(100% - 15px) !important;
    max-width: calc(100% - 15px) !important; }
  .page-grid__button-vertical {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 5px;
    height: 56px;
    border: 0;
    background: transparent;
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
    padding: 0;
    z-index: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none; }
    .page-grid__button-vertical:focus, .page-grid__button-vertical:active {
      outline: none; }
    @media (hover: hover) {
      .page-grid__button-vertical:hover {
        cursor: pointer;
        outline: none; } }
  .page-grid__button-horizontal {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 56px;
    height: 5px;
    border: 0;
    background: transparent;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    padding: 0;
    z-index: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none; }
    .page-grid__button-horizontal:focus, .page-grid__button-horizontal:active {
      outline: none; }
    @media (hover: hover) {
      .page-grid__button-horizontal:hover {
        cursor: pointer;
        outline: none; } }

.catalog-list-wrapper {
  height: 100%;
  overflow-y: auto;
  padding: 10px 0 15px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .catalog-list-wrapper__button {
    padding: 0 11px; }
    .catalog-list-wrapper__button button {
      width: 100%; }

.catalog-list, .catalog-list-drop {
  list-style: none;
  padding: 0 0 10px;
  margin: 0; }
  .catalog-list__item.active {
    background: #FFEDEF; }
    @media (hover: hover) {
      .catalog-list__item.active:hover {
        background: #FCFCFC; } }
  @media (hover: hover) {
    .catalog-list__item:hover {
      background: #FCFCFC; } }
  .catalog-list__item .catalog-list__item {
    padding: 0 0 0 10px; }

.catalog-list-drop {
  padding: 0; }
  .catalog-list-drop.active {
    display: block !important; }

.catalog-link, .catalog-link-drop {
  position: relative;
  display: block;
  color: #545454;
  font-family: "lucida regular", sans-serif;
  font-size: 14px;
  line-height: 17px;
  padding: 4px 15px 4px 27px;
  text-decoration: none;
  word-break: break-all; }
  .catalog-link_active {
    background: #FFEDEF; }

.catalog-link-drop:after {
  content: "";
  position: absolute;
  left: 14px;
  top: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 4px;
  border-color: transparent transparent transparent #545454;
  -webkit-transition: .15s;
  -o-transition: .15s;
  transition: .15s; }

.catalog-link-drop.active:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.catalog-filter {
  height: 100%;
  background: #fff;
  border: 1px solid #CBCBCB; }
  .catalog-filter__header {
    position: relative;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #CBCBCB;
    padding: 0 15px; }
  .catalog-filter__body {
    overflow-y: auto;
    height: -webkit-calc(100% - 40px);
    height: calc(100% - 40px); }

.catalog-filter-title {
  font-size: 16px;
  font-family: "lucida regular", sans-serif;
  color: #545454; }

.button-reset-filter {
  height: 20px;
  font-size: 12px;
  line-height: 12px;
  border: 1px solid currentColor;
  color: #9B9B9B;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 0 12px;
  background: transparent;
  -webkit-transition: .15s;
  -o-transition: .15s;
  transition: .15s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none; }
  @media (hover: hover) {
    .button-reset-filter:hover {
      color: #e30613;
      cursor: pointer;
      outline: none; } }
  .button-reset-filter:focus, .button-reset-filter.active {
    outline: none; }

.filter-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .filter-list__item {
    border-bottom: 1px solid #e2e2e2; }

.filter-card {
  padding: 8px 22px; }

.filter-card-title {
  position: relative;
  font-size: 13px;
  line-height: 17px;
  color: #545454;
  font-family: "lucida regular", sans-serif;
  padding: 5px 0; }
  .filter-card-title:after {
    content: "";
    position: absolute;
    left: -11px;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 4px;
    border-color: transparent transparent transparent #545454;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s; }
  .filter-card-title.active:after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.filter-list-drop {
  list-style: none;
  padding: 8px 0 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .filter-list-drop__item {
    margin: 0 10px 8px 0; }
  .filter-list-drop.active {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

.filter-card-link {
  display: block;
  font-size: 13px;
  line-height: 17px;
  color: #545454;
  font-family: "lucida regular", sans-serif;
  padding: 4px 6px;
  background: #FFEDEF;
  text-decoration: none;
  -webkit-border-radius: 2px;
          border-radius: 2px; }
  .filter-card-link.active {
    background: #e30613;
    color: #fff; }

.filter-selected-list {
  list-style: none;
  padding: 8px 0 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .filter-selected-list__item {
    margin: 0 10px 8px 0; }

.selected-item {
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  font-family: "lucida regular", sans-serif;
  padding: 2px 0 2px 6px;
  background: #e30613;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-border-radius: 2px;
          border-radius: 2px; }
  .selected-item__title {
    margin: 0 2px 0 0; }
  .selected-item__delete {
    width: 17px;
    height: 17px;
    background: transparent;
    border: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0; }
    @media (hover: hover) {
      .selected-item__delete:hover {
        cursor: pointer; }
        .selected-item__delete:hover svg {
          width: 13px;
          height: 13px; } }
    .selected-item__delete svg {
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      width: 9px;
      height: 9px;
      display: block;
      -webkit-transition: .1s;
      -o-transition: .1s;
      transition: .1s; }
      .selected-item__delete svg path {
        -webkit-transition: .15s;
        -o-transition: .15s;
        transition: .15s; }

.header-personal-account {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.personal-account {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fff; }
  .personal-account__container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.page-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0; }
  .page-panel__title {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .page-panel__hold {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .page-panel__voice {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .page-panel__search {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    margin: 0 6px; }
  .page-panel__button {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }

.catalog-form-search {
  width: 470px; }
  .catalog-form-search__row {
    position: relative; }
  .catalog-form-search__input {
    display: block;
    width: 100%;
    position: relative;
    height: 32px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    border: 1px solid #898989;
    padding: 0 40px 0 12px;
    color: #545454;
    font-size: 14px;
    background: #fff;
    z-index: 0; }
    .catalog-form-search__input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #898989; }
    .catalog-form-search__input::-moz-placeholder {
      /* Firefox 19+ */
      color: #898989; }
    .catalog-form-search__input:-ms-input-placeholder {
      /* IE 10+ */
      color: #898989; }
    .catalog-form-search__input:-moz-placeholder {
      /* Firefox 18- */
      color: #898989; }
  .catalog-form-search__button {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 32px;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: transparent;
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    padding: 0;
    z-index: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s; }
    @media (hover: hover) {
      .catalog-form-search__button:hover {
        cursor: pointer;
        background: #e30613;
        outline: none; }
        .catalog-form-search__button:hover svg path {
          fill: #fff; } }
    .catalog-form-search__button:focus, .catalog-form-search__button:active {
      outline: none; }
    .catalog-form-search__button svg {
      display: block; }
      .catalog-form-search__button svg path {
        -webkit-transition: .15s;
        -o-transition: .15s;
        transition: .15s; }

.catalog-hold {
  width: 100%;
  height: 100%;
  background: #fff; }

.order__tabs {
  height: 214px;
  background: #fff; }

.page-title {
  font-size: 24px;
  font-family: "lucida regular", sans-serif;
  color: #545454;
  line-height: 27px;
  font-weight: normal; }

.button-common, .export-catalog, .import-catalog, .make-order, .button-history, .button-voice, .button-download-price, .button-order-panel, .create-order, .button-order-panel__remove {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 14px;
  font-family: "lucida regular", sans-serif;
  line-height: 17px;
  -webkit-transition: .15s;
  -o-transition: .15s;
  transition: .15s;
  border-width: 1px;
  border-style: solid;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap; }
  @media (hover: hover) {
    .button-common:hover, .export-catalog:hover, .import-catalog:hover, .make-order:hover, .button-history:hover, .button-voice:hover, .button-download-price:hover, .button-order-panel:hover, .create-order:hover, .button-order-panel__remove:hover {
      outline: none;
      cursor: pointer;
      text-decoration: none; } }
  .button-common:hover, .export-catalog:hover, .import-catalog:hover, .make-order:hover, .button-history:hover, .button-voice:hover, .button-download-price:hover, .button-order-panel:hover, .create-order:hover, .button-order-panel__remove:hover, .button-common:focus, .export-catalog:focus, .import-catalog:focus, .make-order:focus, .button-history:focus, .button-voice:focus, .button-download-price:focus, .button-order-panel:focus, .create-order:focus, .button-order-panel__remove:focus, .button-common:active, .export-catalog:active, .import-catalog:active, .make-order:active, .button-history:active, .button-voice:active, .button-download-price:active, .button-order-panel:active, .create-order:active, .button-order-panel__remove:active {
    text-decoration: none;
    outline: none; }

.export-catalog {
  margin: 0 8px 0 0;
  border-color: #207245;
  padding: 0 5px;
  background: transparent; }
  @media (hover: hover) {
    .export-catalog:hover {
      border-color: #e30613;
      background: #ed888f; } }
  .export-catalog svg {
    display: block; }

.import-catalog {
  margin: 0 8px 0 0;
  border-color: #207245;
  background: #207245;
  padding: 0 5px; }
  @media (hover: hover) {
    .import-catalog:hover {
      border-color: #e30613;
      background: #ed888f; } }
  .import-catalog svg {
    display: block; }

.make-order {
  border-color: #e30613;
  background: #e30613;
  padding: 0 15px;
  color: #fff; }
  @media (hover: hover) {
    .make-order:hover {
      background: #B7000B; } }

.order-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 47px; }
  .order-panel__button-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .order-panel__button-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }

.catalog-table {
  height: 100%;
  background: #fff; }

.order-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; }

.button-order-panel-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .button-order-panel-list__item {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }

.button-history {
  border-color: #e30613;
  padding: 0 16px;
  background: transparent;
  color: #e30613; }
  @media (hover: hover) {
    .button-history:hover {
      color: #fff;
      background: #e30613; } }
  .button-history__text {
    display: block; }

.button-voice {
  border-color: #e30613;
  padding: 0 16px;
  background: transparent; }
  @media (hover: hover) {
    .button-voice:hover {
      background: #e30613; }
      .button-voice:hover svg path {
        fill: #fff; } }
  .button-voice svg {
    display: block; }
    .button-voice svg path {
      -webkit-transition: .15s;
      -o-transition: .15s;
      transition: .15s; }

.button-download-price {
  width: 100%;
  border-color: #e30613;
  padding: 0 16px;
  background: transparent;
  color: #e30613; }
  @media (hover: hover) {
    .button-download-price:hover {
      color: #fff;
      background: #e30613; } }

.button-order-panel, .create-order {
  position: relative;
  border: 0;
  height: 25px;
  line-height: 25px;
  font-size: 11px;
  background: #CBCBCB;
  color: #fff;
  -webkit-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
  margin: 0 3px 0 0;
  padding: 0 22px; }
  @media (hover: hover) {
    .button-order-panel:hover, .create-order:hover {
      color: #e30613; } }
  .button-order-panel.active, .active.create-order {
    background: #fff;
    color: #545454; }
    @media (hover: hover) {
      .button-order-panel.active:hover, .active.create-order:hover {
        background: #fff;
        color: #545454; } }
    .button-order-panel.active .button-order-panel__remove, .active.create-order .button-order-panel__remove {
      display: block; }
  .button-order-panel__remove {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 25px;
    width: 20px;
    display: none;
    background: transparent;
    color: #545454;
    border: 0;
    padding: 0 5px; }
    @media (hover: hover) {
      .button-order-panel__remove:hover svg path {
        fill: #e30613; } }
    .button-order-panel__remove svg {
      display: block; }
      .button-order-panel__remove svg path {
        -webkit-transition: .15s;
        -o-transition: .15s;
        transition: .15s; }

.create-order {
  padding: 0;
  width: 25px;
  font-size: 20px; }
