.button {
  display: block;
  min-width: 141px;
  border-radius: 2px;
  font-size: 14px;
  font-family: $f-l;
  line-height: 17px;
  padding: 8px 14px;
  transition: .15s;
  border-width: 2px;
  border-style: solid;
  outline: none;
  user-select: none;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;

  @media (max-width: 767px) {
    min-width: 130px;
  }

  &:hover {
    @media (hover:hover) {
      outline: none;
      cursor: pointer;
      text-decoration: none;
    }
  }

  &:hover,&:focus,&:active {
    text-decoration: none;
  }
  
  &_red {
    border-color: $c-red;
    background: $c-red;
    color: #fff;

    &:hover {
      @media (hover:hover) {
        background: $c-dark-red;
        border-color: $c-dark-red;
      }
    }

    &:focus, &:active {
      background: $c-dark-red;
      border-color: $c-dark-red;
    }
  }

  &_white {
    border-color: $c-red;
    color: $c-red;
    background: #fff;
    transition: .15s;

    &:hover {
      @media (hover:hover) {
        background: $c-dark-red;
        border-color: $c-dark-red;
        color: #fff;
      }
    }

    &:focus, &:active {
      background: $c-dark-red;
      border-color: $c-dark-red;
      color: #fff;
    }
  }

  &_registration {
    @media (max-width: 374px) {
      margin: 0 0 15px;
    }
  }

  &_transparent {
    min-width: 55px;
    height: 32px;
    background: transparent;
    border-color: $c-red;
    border-radius: 2px;
    color: $c-red;
    transition: .15s;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      @media (hover:hover) {
        background: $c-dark-red;
        border-color: $c-dark-red;
        color: #fff;

        & svg path {
          fill: #fff;
        }
      }
    }

    & svg {
      display: block;

      path {
        transition: .15s;
      }
    }
  }
}

.button-link {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 17px;
  font-family: $f-l;
  border: 0;
  border-bottom: 1px dashed currentColor;
  background: transparent;
  border-radius: 0;
  color: $c-red;
  padding: 0 2px;
  user-select: none;
  text-decoration: none;

  &:hover {
    @media (hover:hover) {
      cursor: pointer;
      border-color: transparent;
      text-decoration: none;
    }
  }

  &:focus, &:active {
    border-bottom: 1px dashed currentColor;
    text-decoration: none;
  }
}

.button-more {
  display: none;
  padding: 20px 0;
  text-align: center;

  @media (max-width: 767px) {
    display: block;
  }
}