.button-add-goods {
  @extend .button-common;
  padding: 0 14px;
  border: 1px solid $c-red;
  color: $c-red;
  background: transparent;

  &:hover {
    @media (hover: hover) {
      border-color: $c-dark-red;
      background: $c-dark-red;
      color: #fff;

      & svg {
        & path {
          fill: #fff;
        }
      }
    }
  }

  &__ico {
    display: block;
    margin: 0 10px 0 0;

    & svg {
      display: block;

      & path {
        transition: .15s;
      }
    }
  }

  &__text {
    display: block;
  }
}