.form__field, .form-select__head, .form-select__search > input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 13px;
  font-size: 13px;
  color: #545454;
  line-height: 40px;
  border: 1px solid #E2E2E2;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  outline: none; }

@font-face {
  font-family: 'isansuni';
  src: url("../fonts/isansuni/isansuni.eot");
  src: url("../fonts/isansuni/isansuni.woff2") format("woff2"), url("../fonts/isansuni/isansuni.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "isansuni";
  background-color: #F5F6F8; }

main {
  max-width: 78%;
  margin: 0 auto; }

.some-svg {
  width: 70px;
  height: 70px; }

.zoom {
  width: 500px;
  height: 500px;
  margin: auto; }
  .zoom > a {
    display: block;
    font-size: 0;
    width: 100%;
    height: 100%; }
    .zoom > a img {
      width: 100%;
      height: 100%; }

.header {
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #E2E2E2; }
  .header__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin: 0 15px; }
  .header__logo {
    font-size: 0;
    line-height: 0; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0 0 28px; }

.menu-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0; }
  .menu-list__item {
    margin: 0 0 0 -1px;
    list-style: none; }
  .menu-list__link {
    display: inline-block;
    padding: 1px 11px;
    font-size: 13px;
    color: #545454;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    text-decoration: none; }
    .menu-list__link.active {
      background-color: #FFEDEF; }

.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .info__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 19px; }
    .info__item.mail {
      position: relative; }
      .info__item.mail .count {
        position: absolute;
        top: -5px;
        right: -5px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 14px;
        height: 14px;
        color: #fff;
        font-size: 10px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #E30613;
        border: 1px solid #E30613; }
      .info__item.mail svg {
        fill: #E30613; }
    .info__item span {
      font-size: 13px;
      color: #545454; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 14px 0 100px; }
  .form__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .form__row:nth-child(2) {
      margin: 0 -7px; }
  .form__col {
    margin: 0 7px;
    width: 33%;
    background-color: #fff;
    border: 1px solid #E2E2E2;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .form__head {
    margin: 0 0 10px;
    font-size: 24px;
    color: #545454; }
  .form__top {
    height: 60px; }
    .form__top.bordered {
      border-bottom: 1px solid #E2E2E2; }
  .form__center {
    padding: 12px 22px 0;
    height: 600px;
    overflow-y: auto; }
  .form-subtitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    padding: 0 22px; }
    .form-subtitle__num {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 5px 0 0 2px;
      width: 20px;
      height: 20px;
      font-size: 15px;
      color: #fff;
      background: #E30613;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .form-subtitle__head {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 5px 0 0 10px;
      line-height: 20px; }
      .form-subtitle__head > span {
        font-size: 18px;
        color: #545454; }
      .form-subtitle__head > p {
        margin: 0 0 0 10px;
        font-size: 13px; }
        .form-subtitle__head > p > span {
          font-size: 14px;
          color: #E30613; }
  .form__box {
    padding: 0 0 22px; }
  .form__field::-webkit-input-placeholder {
    font-size: 13px;
    color: #545454; }
  .form__field::-moz-placeholder {
    font-size: 13px;
    color: #545454; }
  .form__field:-ms-input-placeholder {
    font-size: 13px;
    color: #545454; }
  .form__field:-moz-placeholder {
    font-size: 13px;
    color: #545454; }
  .form__desc {
    margin: 10px 0 0;
    font-size: 11px;
    color: #545454; }
  .form-select {
    position: relative; }
    .form-select .hint {
      position: absolute;
      top: -21px;
      left: 0;
      font-size: 12px;
      color: #545454; }
    .form-select__head {
      position: relative;
      padding: 0 30px 0 13px;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      background: url("../../img/triangle.svg") no-repeat center right 15px;
      cursor: pointer; }
      .form-select__head.rotate {
        z-index: 2;
        background: url("../../img/triangle2.svg") no-repeat center right 15px; }
    .form-select__list {
      position: absolute;
      top: -10px;
      right: -10px;
      left: -10px;
      display: none;
      margin: 0;
      padding: 65px 10px 10px;
      background: #fff;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
              box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); }
      .form-select__list.open {
        display: block;
        z-index: 1; }
    .form-select__search {
      position: relative;
      margin: -10px 0 10px; }
      .form-select__search .icon {
        position: absolute;
        top: 50%;
        right: 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 20px;
        height: 20px;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
    .form-select__item {
      display: block;
      margin: 0 0 10px;
      font-size: 13px;
      color: #545454;
      line-height: 16px;
      cursor: pointer; }
      .form-select__item:hover {
        color: #E30613; }
    .form-select__scroll-wrap {
      max-height: 180px;
      overflow-y: auto; }
  .form-switch {
    margin: 0 0 35px;
    background-color: #F3F3F3; }
    .form-switch__item {
      padding: 6px 20px 7px;
      width: -webkit-calc(100% - 4px);
      width: calc(100% - 4px);
      margin: auto;
      font-size: 13px;
      color: #545454;
      cursor: pointer; }
      .form-switch__item.active {
        color: #fff;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        background-color: #E30613;
        cursor: default; }
  .form #pay {
    display: none; }
    .form #pay + label {
      position: relative;
      display: block;
      padding: 0 0 0 25px;
      margin: 10px 0 0;
      font-size: 11px;
      color: #E30613;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .form #pay + label:before {
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        width: 14px;
        height: 14px;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        border: 1px solid #E30613; }
    .form #pay:checked + label:before {
      background: url(../../img/check.svg) no-repeat center;
      -webkit-background-size: contain;
              background-size: contain; }

.order-box {
  position: relative;
  margin: 12px 0;
  padding: 0 0 10px;
  border-bottom: 1px solid #E2E2E2; }
  .order-box__count {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20px;
    height: 20px;
    font-size: 11px;
    color: #545454;
    background: rgba(249, 189, 41, 0.36);
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .order-box__top {
    padding: 0 0 0 30px; }
  .order-box__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .order-box-item__head {
    font-size: 11px;
    color: #E30613; }
  .order-box-item__text {
    font-size: 13px;
    color: #545454; }

.user {
  position: relative; }
  .user img {
    cursor: pointer; }

.drop-box {
  position: absolute;
  top: -webkit-calc(100% + 11px);
  top: calc(100% + 11px);
  right: 0;
  display: none;
  width: 200px;
  background: #fff;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); }
  .drop-box.active {
    display: block; }

.drop-list {
  padding: 15px;
  margin: 0; }
  .drop-list li {
    margin: 0 0 5px;
    list-style: none; }
    .drop-list li:first-child a {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      color: #E30613;
      cursor: default; }
  .drop-list a {
    font-size: 13px;
    color: #545454;
    text-decoration: none; }
    .drop-list a:hover {
      color: #E30613; }

.wrap {
  position: relative; }

.resizable {
  background: black;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px; }

.resizable .resizers {
  width: 100%;
  height: 100%;
  border: 3px solid #4286f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.resizable .resizers .resizer {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: black;
  border: 3px solid #4286f4;
  position: absolute; }

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize;
  /*resizer cursor*/ }

.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize; }

.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize; }

.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize; }

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }
  .box__col {
    height: -webkit-calc(100vh - 40px);
    height: calc(100vh - 40px);
    margin: 0 0 0 -1px;
    border: 1px solid #545454; }
    .box__col:first-child {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%; }
    .box__col:last-child {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
  .box__row {
    height: 50%;
    margin: -1px 0 0 0;
    border-top: 1px solid #545454; }

#voiceSearchBtn {
  width: 50px;
  height: 24px;
  background: #f93d5f;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #84faaf), color-stop(100%, #8fd2f4));
  background: -webkit-linear-gradient(45deg, #84faaf 0%, #8fd2f4 100%);
  -webkit-border-radius: 13px;
          border-radius: 13px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }
