.about {
  @media (max-width: 767px) {
    border-top: 1px solid $c-border;
  }
  &__block {
    margin: 0 0 80px;

    @media (max-width: 767px) {
      margin: 0 0 40px;
    }
  }
}

.about-descr {
  position: relative;
  padding: 20px 0 0;

  @media (max-width: 767px) {
    height: 270px;
    overflow: hidden;
  }

  &:after, &:before {
    content: '';
    position: absolute;
    top: 0;
    width: calc(100% / 2 - 15px);
    height: 1px;
    display: block;
    background: $c-border;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &:after {
    left: 0;
  }

  &:before {
    right: 0;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    font-family: $f-l;
    color: $c-text;
    column-count: 2;
    column-gap: 30px;

    @media (max-width: 767px) {
      columns: inherit;
    }
  }
}