.address {
  font-style: normal;
}

.address-block {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  margin: 0 0 10px;

  &__phone {
    padding: 3px 0 0;

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  &__time {
    padding: 10px 0;

    @media (max-width: 767px) {
      padding: 5px 0;
    }
  }

  &__ico-wrap {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 37px;

    @media (max-width: 767px) {
      width: 32px;
      height: 27px;
    }

    @media (max-width: 359px) {
      width: 26px;
    }
  }

  &__ico {
    display: block;
    margin: 0 auto;
    transition: .2s;

    &_arrow {

      @media (max-width: 767px) {
        width: 12px;
      }
    }

    &_phone {

      @media (max-width: 767px) {
        width: 10px;
      }
    }

    &_clock {

      @media (max-width: 767px) {
        width: 16px;
      }
    }
  }

  &__text {
    display: block;
    color: $c-text;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    padding: 2px 0;

    @media (max-width: 767px) {
      font-size: 13px;
    }
  }
}

.address-dropdown {
  position: relative;
  width: 230px;
  height: 37px;

  @media (max-width: 767px) {
    width: 186px;
    height: 27px;
  }

  @media (max-width: 359px) {
    width: 174px;
    height: 27px;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    height: 37px;
    overflow: hidden;
    transition: .2s;

    @media (max-width: 767px) {
      height: 27px;
    }
  }
}

.address-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.address-phone-link {
  display: block;
  text-decoration: none;
  color: $c-text;
  white-space: nowrap;

  &_header {
    font-size: 20px;
    line-height: 24px;
    padding: 3px 0;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &_footer {
    font-size: 14px;
    line-height: 17px;
    padding: 2px 0;
  }
}