.advantage-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 33.3333%;
    margin: 0 0 60px;

    @media (max-width: 991px) {
      width: 50%;
    }

    @media (max-width: 767px) {
      width: 100%;
      margin: 0 0 40px;
    }
  }
}