.section-title {
  padding: 20px 0;
  font-size: 30px;
  line-height: 34px;
  font-family: $f-l;
  color: $c-text;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px;
  letter-spacing: 12px;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    letter-spacing: 4px;
  }
}