.manager {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 11;
  display: none;
  align-items: center;
  justify-content: center;

  &.active {
    display: flex;
  }

  &__substrate {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    background: rgba(0,0,0,.5);
  }

  &__container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 220px;
    background: #fff;
    overflow-y: auto;
  }
}