.article-card {
  position: relative;
  padding: 7px 0 7px 30px;

  &:hover {
    @media (hover: hover) {
      cursor: pointer;
    }
  }

  &__indicator-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 13px;
    display: flex;
    justify-content: center;
    width: 30px;
  }

  &__indicator {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ABABAB;

    &_unread {
      background: $c-red;
    }
  }
}

.article-card-data {
  align-items: center;
  font-size: 11px;
  line-height: 17px;
  font-family: $f-l;
  color: #ababab;
}

.article-card-descr {
  font-size: 13px;
  line-height: 20px;
  font-family: $f-l;
  color: $c-text;
}

.article-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    border-top: 1px solid #F2F2F2;

    &_unread {
      background: #FEF7F8;
    }
  }
}