.catalog-filter {
  height: 100%;

  &__header {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $c-bg-gray;
  }

  &__body {
    overflow-y: auto;
    height: calc(100% - 40px);
  }
}