.catalog-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  &__title {
    flex-shrink: 0;
  }

  &__hold {
    flex-shrink: 0;
    display: flex;
  }

  &__voice {
    flex-shrink: 0;
  }

  &__search {
    flex-shrink: 0;
    margin: 0 6px;
  }

  &__button {
    flex-shrink: 0;
  }
}