.export-catalog {
  @extend .button-common;
  margin: 0 8px 0 0;
  border-color: #207245;
  padding: 0 5px;
  background: transparent;

  &:hover {
    @media (hover:hover) {
      border-width: 2px;
      padding: 0 4px;
    }
  }

  & svg {
    display: block;
  }
}