.filter-card-link {
  display: block;
  font-size: 13px;
  line-height: 17px;
  color: $c-text;
  font-family: $f-l;
  padding: 4px 6px;
  background: $c-bg-filter-item;
  text-decoration: none;
  border-radius: 2px;

  &.active {
    background: $c-red;
    color: #fff;
  }
}