.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    border-bottom: 1px solid $c-border-list-item;
  }
}

.filter-list-drop {
  list-style: none;
  padding: 8px 0 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &__item {
    margin: 0 10px 8px 0;
  }

  &.active {
    display: flex !important;
  }
}