.form {
  max-width: 1066px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 15px 0;

  @media (max-width: 1023px) {
    display: block;
    max-width: 600px;
  }

  &__row {
    display: flex;

    @media (max-width: 1023px) {
      display: block;
    }

    &:nth-child(1) {
      flex-shrink: 0;
    }

    &:nth-child(2) {
      margin: 0 -7px;
      flex-grow: 1;

      @media (max-width: 1023px) {
        margin: 0;
      }
    }
  }

  &__col {
    margin: 0 7px;
    background-color: #fff;
    border: 1px solid $c-border-form;
    border-radius: 3px;
    overflow-y: auto;

    @media (max-width: 1023px) {
      margin: 0 0 30px;
      overflow-y: visible;
    }

    @media (max-width: 767px) {
      max-width: 392px;
    }

    &_recipient {
      flex: .95 0 0;
    }

    &_delivery {
      flex: .95 0 0;
    }

    &_order {
      flex: 1.1 0 0;
    }
  }

  &__title {
    margin: 0 0 10px;
    font-size: 24px;
    color: $c-text;

    @media (max-width: 1023px) {
      font-size: 21px;
    }
  }

  &__top {
    height: 60px;

    &.bordered {
      border-bottom: 1px solid $c-border-form;
    }
  }

  &__center {
    padding: 12px 22px 0;

    @media (max-width: 767px) {
      padding: 12px 10px 0;
    }
  }

  &-subtitle {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 22px;

    @media (max-width: 767px) {
      padding: 0 10px;
    }

    &__num {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px 0 0 2px;
      width: 20px;
      height: 20px;
      font-size: 14px;
      line-height: 14px;
      color: #fff;
      background: $c-red;
      border-radius: 50%;
    }

    &__head {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      margin: 5px 0 0 10px;
      line-height: 20px;

      & > span {
        font-size: 18px;
        color: $c-text;
      }

      & > p {
        margin: 0 0 0 10px;
        font-size: 13px;

        & > span {
          font-size: 14px;
          color: $c-red;
        }
      }
    }
  }

  &__box {
    padding: 0 0 22px;
  }

  &__field {
    @extend %input;

    &::-webkit-input-placeholder {
      font-size: 13px;
      color: $c-text;
    }
    &::-moz-placeholder {
      font-size: 13px;
      color: $c-text;
    }
    &:-ms-input-placeholder {
      font-size: 13px;
      color: $c-text;
    }
    &:-moz-placeholder {
      font-size: 13px;
      color: $c-text;
    }
  }

  &__desc {
    margin: 10px 0 0;
    font-size: 11px;
    color: $c-text;
  }

  &-select {
    position: relative;

    .hint {
      position: absolute;
      top: -21px;
      left: 0;
      font-size: 12px;
      color: $c-text;
    }

    &__head {
      position: relative;

      @extend %input;
      padding: 0 30px 0 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      background: url("../../order/img/triangle.svg") no-repeat center right 15px;
      cursor: pointer;

      &.rotate {
        z-index: 2;
        background: url("../../order/img/triangle2.svg") no-repeat center right 15px;
      }
    }

    &__list {
      position: absolute;
      top: -10px;
      right: -10px;
      left: -10px;

      display: none;
      margin: 0;
      padding: 65px 10px 10px;

      background: #fff;
      border-radius: 3px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

      &.open {
        display: block;
        z-index: 1;
      }
    }

    &__search {
      position: relative;
      margin: -10px 0 10px;

      .icon {
        position: absolute;
        top: 50%;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
      }

      & > input {
        @extend %input;
      }
    }

    &__item {
      display: block;
      margin: 0 0 10px;

      font-size: 13px;
      color: $c-text;
      line-height: 16px;

      cursor: pointer;

      &:hover {
        color: $c-red;
      }
    }

    &__scroll-wrap {
      max-height: 180px;
      overflow-y: auto;
    }
  }

  &-switch {
    margin: 0 0 35px;
    background-color: #F3F3F3;

    &__item {
      padding: 6px 20px 7px;
      width: calc(100% - 4px);
      margin: auto;

      font-size: 13px;
      color: $c-text;
      cursor: pointer;

      &.active {
        color: #fff;
        border-radius: 3px;
        background-color: $c-red;
        cursor: default;
      }
    }
  }

  #pay {
    display: none;

    & + label {
      position: relative;

      display: block;
      padding: 0 0 0 25px;
      margin: 20px 0 0;

      font-size: 11px;
      color: $c-red;

      cursor: pointer;
      user-select: none;

      &:before {
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        width: 14px;
        height: 14px;
        border-radius: 3px;
        border: 1px solid $c-red;
      }
    }

    &:checked + label:before {
      background: url(../../order/img/check.svg) no-repeat center;
      background-size: contain;
    }
  }
}

.order-box {
  position: relative;
  margin: 12px 0;
  padding: 0 0 10px;
  border-bottom: 1px solid $c-border-form;

  &:last-child {
    border-bottom: 0;
  }

  &__count {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;

    font-size: 11px;
    color: $c-text;

    background: rgba(249, 189, 41, 0.36);
    border-radius: 3px;
  }

  &__top {
    padding: 0 0 0 30px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &-item {

    &__head {
      font-size: 11px;
      color: $c-red;
    }

    &__text {
      font-size: 13px;
      color: $c-text;
    }
  }
}

.user {
  position: relative;

  img {
    cursor: pointer;
  }
}

.drop-box {
  position: absolute;
  top: calc(100% + 11px);
  right: 0;
  display: none;
  width: 200px;

  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

  &.active {
    display: block;
  }
}

.drop-list {
  padding: 15px;
  margin: 0;

  li {
    margin: 0 0 5px;
    list-style: none;

    &:first-child a {
      user-select: none;
      color: $c-red;
      cursor: default;
    }
  }

  a {
    font-size: 13px;
    color: $c-text;
    text-decoration: none;

    &:hover {
      color: $c-red;
    }
  }
}

///////

.wrap {
  position: relative;
}

.resizable {
  background: black;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  border: 3px solid #4286f4;
  box-sizing: border-box;
}

.resizable .resizers .resizer{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  border: 3px solid #4286f4;
  position: absolute;
}
.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}