.import-catalog {
  @extend .button-common;
  margin: 0 8px 0 0;
  border-color: #207245;
  background: #207245;
  padding: 0 5px;

  &:hover {
    @media (hover:hover) {
      border-color: #10522E;
      background: #10522E;
    }
  }

  & svg {
    display: block;
  }
}