.message {
  display: flex;
  padding: 40px 0 0;

  &__sidebar {
    flex-shrink: 0;
    width: 230px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12);
  }

  &__content {
    flex-grow: 1;
    padding: 30px;
  }
}

.message-block {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background: #fff;
  height: 45px;
  padding: 0 30px 0;

  &:hover {
    @media (hover: hover) {
      cursor: pointer;
    }
  }

  &__ico-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
  }

  &__ico {
    display: block;
    transition: .15s;

    & path {
      fill: $c-red;
    }

    &_active {
      transform: rotate(90deg);
    }
  }
}

.message-block-notification {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__num {
    display: block;
    width: 27px;
    height: 20px;
    background: $c-red;
    color: #fff;
    font-family: $f-l;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    padding: 0 0 0 3px;
  }
}

.message-block-title {
  font-size: 13px;
  line-height: 19px;
  color: $c-text;
  font-family: $f-l;
  font-weight: bold;
}

.message-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    border-bottom: 1px solid #F2F2F2;
  }
}
