.message-block-notification {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__num {
    display: block;
    width: 27px;
    height: 20px;
    background: $c-red;
    color: #fff;
    font-family: $f-l;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    padding: 0 0 0 3px;
  }
}