.order-detail {
  height: 262px;
  overflow-y: auto;
  background: #fff;
  padding: 0 0 18px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50px;
    padding: 10px 18px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 18px;
  }

  &__body-left {
    flex-shrink: 0;
  }

  &__body-right {
    width: 270px;
    max-height: 194px;
    overflow-y: auto;
    padding-right: 20px;
  }
}