.order {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100px;

  &__tabs {
    //height: 214px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #fff;
  }
}

.order-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.order-panel {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  height: 47px;

  &__button-left {
    display: flex;
    align-items: flex-end;
  }

  &__button-right {
    display: flex;
    align-items: flex-start;
  }
}