.page {
  width: 100%;
  background: $c-bg-catalog;
  padding: 40px 30px 15px;
  font-weight: normal;
}

.page-grid {
  display: flex;
  height: calc(100vh - 117px);
  overflow: hidden;

  &__lever {
    flex-shrink: 0;
    position: relative;
    user-select: none;
    outline: none;
    touch-action: none;

    &:hover {
      @media (hover: hover) {
        &_horizontal {
          cursor: col-resize;
        }

        &_vertical {
          cursor: row-resize;
        }

        &:after {
          cursor: pointer;
        }
      }
    }

    &_vertical {
      width: 15px;

      &:hover {
        @media (hover: hover) {
          cursor: col-resize;
        }
      }
    }

    &_horizontal {
      height: 15px;
      width: 100%;

      &:hover {
        @media (hover: hover) {
          cursor: row-resize;
        }
      }
    }
  }

  &__left {
    flex-shrink: 0;
    width: 320px;
    min-width: 290px;
    max-width: 50%;
    height: 100%;
    overflow: hidden;
  }

  &__left-top {
    height: 60%;
    min-height: 10%;
    max-height: 90%;
  }

  &__left-bottom {
    height: calc(40% - 15px);
    min-height: calc(10% - 15px);
    max-height: calc(90% - 15px);
    overflow: hidden;
  }

  &__right {
    flex-grow: 1;
    height: 100%;
  }

  &__right-top {
    height: calc(100% - 276px);
    min-height: 10%;
    max-height: 90%;
  }

  &__right-bottom {
    display: flex;
    flex-direction: column;
    height: 261px;
    min-height: 100px;
    max-height: calc(90% - 15px);
    overflow: hidden;
  }

  &__row-hidden {
    height: 0 !important;
    min-height: 0 !important;
    max-height: 0 !important;
    border: 0;
  }

  &__row-full {
    height: calc(100% - 15px) !important;
    max-height: calc(100% - 15px) !important;
  }

  &__cell-hidden {
    width: 0 !important;
    min-width: 0 !important;
    max-width: 0 !important;
    border: 0;
  }

  &__cell-full {
    width: calc(100% - 15px) !important;
    max-width: calc(100% - 15px) !important;
  }

  &__button-vertical {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 5px;
    height: 56px;
    border: 0;
    background: transparent;
    border-left: 1px solid $c-border;
    border-right: 1px solid $c-border;
    padding: 0;
    z-index: 1;
    user-select: none;
    outline: none;

    &:focus, &:active {
      outline: none;
    }

    &:hover {
      @media (hover: hover) {
        cursor: pointer;
        outline: none;
      }
    }
  }

  &__button-horizontal {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 56px;
    height: 5px;
    border: 0;
    background: transparent;
    border-top: 1px solid $c-border;
    border-bottom: 1px solid $c-border;
    padding: 0;
    z-index: 1;
    user-select: none;
    outline: none;

    &:focus, &:active {
      outline: none;
    }

    &:hover {
      @media (hover: hover) {
        cursor: pointer;
        outline: none;
      }
    }
  }
}

.page-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  &__title {
    flex-shrink: 0;
  }

  &__hold {
    flex-shrink: 0;
    display: flex;
  }

  &__voice {
    flex-shrink: 0;
  }

  &__search {
    flex-shrink: 0;
    margin: 0 6px;
  }

  &__button {
    flex-shrink: 0;
  }
}

.page-title {
  font-size: 24px;
  font-family: $f-l;
  color: $c-text;
  line-height: 27px;
  font-weight: normal;
}