.catalog-link-drop {
  @extend .catalog-link;

  &:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 4px;
    border-color: transparent transparent transparent $c-red;
    transition: .15s;
  }

  &_active {
    background: $c-active-bg-list-link;

    &:after {
      transform: rotate(90deg);
    }
  }
}